#heroButton {
    background-color: #4262ff;
    color: #ffffff;
}
.link {
    color: #4262ff;
    text-decoration: underline;
}
h1, h2{
    font-family: 'Roboto', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
}
footer{
    color: #FFFFFF;
    background-color: #050038;
}
.footerlink {
    color: #FFFFFF;
}
li {
    color: #050038;
}
ul.linknav{
    color: #050038;
}